* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);

  main {
    margin: 1rem;
    height: 100dvh;
    @media (width > 1000px) {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      align-items: center;
      article {
        width: 100%;
        display: grid;
        place-items: center;
        & > * {
          max-width: 800px;
        }
      }
    }
  }
}
